<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connnection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/connection.css">
</head>
<body>
    {{>nav_after_login}}
    <div class="cont-connetion">
        <div class="conne-1">
            <!-- <h2>contener 1</h2> -->
            <h4>Manage my network</h4>
            <div class="conne-1-manage">
                <div class="network">
                   <a href="/"><i class="bi bi-people-fill"></i>  Connections</a> <span>520</span>
                </div>
                <div class="network">
                   <a href="/"><i class="bi bi-person-lines-fill"></i>  Contacts</a> <span>536</span>
                </div>
                <div class="network">
                   <a href="/"><i class="bi bi-file-earmark-person"></i>  People i follow</a> <span>14</span>
                </div>
                <div class="network">
                   <a href="/"><i class="bi bi-person-hearts"></i>  Groups</a> <span>4</span>
                </div>
                <div class="network">
                   <a href="/"><i class="bi bi-calendar2-event"></i>  Events</a> <span>7</span>
                </div>
                <div class="network">
                   <a href="/"><i class="bi bi-clipboard2-plus"></i>  Pages</a> <span>70</span>
                </div>
                <div class="network">
                   <a href="/"><i class="bi bi-newspaper"></i>  Newsletter</a> <span>2</span>
                </div>
                <div class="network">
                   <a href="/"><i class="bi bi-hash"></i>  Hashtags</a> 
                </div>
                <div class="network">
                   <button><i class="bi bi-chevron-up"></i> show less</button> 
                </div>
            </div>
        </div>
        <div class="conne-2">
            <div class="req">
                <span>No pending invitations</span> <button>Manage</button>
            </div>

            <div class="sugge">
                <div class="card-deck">
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/172522ec1028ab781d9dfd17eaca4427.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Davin jann</h5>
                        <p class="card-text">SDE 2 at @google, Ex microsoft</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/download (1).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Neha Agrawal</h5>
                        <p class="card-text">gernelist at @media.net</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images (1).jpg" alt="Card image cap">
                      </div> 
                      <div class="card-body">
                        <h5 class="card-title">krity Pande</h5>
                        <p class="card-text">Grafic designer at @Telliut</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Lokesh nam</h5>
                        <p class="card-text">Weter and clrk @ BIO</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images (2).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Devyashi</h5>
                        <p class="card-text">Assistent Manager at@ globel tech</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images (3).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Shivani</h5>
                        <p class="card-text">Educater at@ RGPV</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images (4).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Mohni</h5>
                        <p class="card-text">Blockchan deve at @ Ishty</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">zukarberg</h5>
                        <p class="card-text">C.E.O at facebook & meta</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images (2).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">sonali</h5>
                        <p class="card-text">student at IGEC.</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/172522ec1028ab781d9dfd17eaca4427.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Davin jann</h5>
                        <p class="card-text">SDE 2 at @google, Ex microsoft</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/download (1).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Neha Agrawal</h5>
                        <p class="card-text">gernelist at @media.net</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images (1).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">krity Pande</h5>
                        <p class="card-text">Grafic designer at @Telliut</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Lokesh nam</h5>
                        <p class="card-text">Weter and clrk @ BIO</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images (2).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Devyashi</h5>
                        <p class="card-text">Assistent Manager at@ globel tech</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images (3).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Shivani</h5>
                        <p class="card-text">Educater at@ RGPV</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images (4).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Mohni</h5>
                        <p class="card-text">Blockchan deve at @ Ishty</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">zukarberg</h5>
                        <p class="card-text">C.E.O at facebook & meta</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images (2).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">sonali</h5>
                        <p class="card-text">student at IGEC.</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">zukarberg</h5>
                        <p class="card-text">C.E.O at facebook & meta</p>
                        <button>Connect</button>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-img">
                      <img class="card-img-top" src="/img/images (2).jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">sonali</h5>
                        <p class="card-text">student at IGEC.</p>
                        <button>Connect</button>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
</body>
</html>