<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Notification</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/notification.css">
</head>
<body>
    {{>nav_after_login}}
    <div class="feed">
        <!-- <div id="box__mar"> -->
            <div class="notification">
                <div class="notification__header">
                    <i class="bi bi-person-circle sidebar__topAvatar"></i>
                    <div class="notification__info">
                        <p>Those For tips can help you network in a virtual world, say an expert.</p>
                    </div>
                    <div style="color: rgba(132, 132, 132, 0.842); margin-left: 30%;" ><i class="bi bi-three-dots"></i><h5 style="color: rgba(171, 167, 167, 0.826);">5h ago</h5></div>
                </div>
                <div class="notification__header">
                    <i class="bi bi-person-circle sidebar__topAvatar"></i>
                    <div class="notification__info">
                        <p>Those For tips can help you network in a virtual world, say an expert.</p>
                    </div>
                    <div style="color: rgba(132, 132, 132, 0.842); margin-left: 30%;" ><i class="bi bi-three-dots"></i><h5 style="color: rgba(171, 167, 167, 0.826);">5h ago</h5></div>
                </div>
                <div class="notification__header">
                    <i class="bi bi-person-circle sidebar__topAvatar"></i>
                    <div class="notification__info">
                        <p>Those For tips can help you network in a virtual world, say an expert.</p>
                    </div>
                    <div style="color: rgba(132, 132, 132, 0.842); margin-left: 30%;" ><i class="bi bi-three-dots"></i><h5 style="color: rgba(171, 167, 167, 0.826);">5h ago</h5></div>
                </div>
                <div class="notification__header">
                    <i class="bi bi-person-circle sidebar__topAvatar"></i>
                    <div class="notification__info">
                        <p>Those For tips can help you network in a virtual world, say an expert.</p>
                    </div>
                    <div style="color: rgba(132, 132, 132, 0.842); margin-left: 30%;" ><i class="bi bi-three-dots"></i><h5 style="color: rgba(171, 167, 167, 0.826);">5h ago</h5></div>
                </div>
                <div class="notification__header">
                    <i class="bi bi-person-circle sidebar__topAvatar"></i>
                    <div class="notification__info">
                        <p>Those For tips can help you network in a virtual world, say an expert.</p>
                    </div>
                    <div style="color: rgba(132, 132, 132, 0.842); margin-left: 30%;" ><i class="bi bi-three-dots"></i><h5 style="color: rgba(171, 167, 167, 0.826);">5h ago</h5></div>
                </div>
                <div class="notification__header">
                    <i class="bi bi-person-circle sidebar__topAvatar"></i>
                    <div class="notification__info">
                        <p>Those For tips can help you network in a virtual world, say an expert.</p>
                    </div>
                    <div style="color: rgba(132, 132, 132, 0.842); margin-left: 30%;" ><i class="bi bi-three-dots"></i><h5 style="color: rgba(171, 167, 167, 0.826);">5h ago</h5></div>
                </div>
                <div class="notification__header">
                    <i class="bi bi-person-circle sidebar__topAvatar"></i>
                    <div class="notification__info">
                        <p>Those For tips can help you network in a virtual world, say an expert.</p>
                    </div>
                    <div style="color: rgba(132, 132, 132, 0.842); margin-left: 30%;" ><i class="bi bi-three-dots"></i><h5 style="color: rgba(171, 167, 167, 0.826);">5h ago</h5></div>
                </div>
                <div class="notification__header">
                    <i class="bi bi-person-circle sidebar__topAvatar"></i>
                    <div class="notification__info">
                        <p>Those For tips can help you network in a virtual world, say an expert.</p>
                    </div>
                    <div style="color: rgba(132, 132, 132, 0.842); margin-left: 30%;" ><i class="bi bi-three-dots"></i><h5 style="color: rgba(171, 167, 167, 0.826);">5h ago</h5></div>
                </div>
                <div class="notification__header">
                    <i class="bi bi-person-circle sidebar__topAvatar"></i>
                    <div class="notification__info">
                        <p>Those For tips can help you network in a virtual world, say an expert.</p>
                    </div>
                    <div style="color: rgba(132, 132, 132, 0.842); margin-left: 30%;" ><i class="bi bi-three-dots"></i><h5 style="color: rgba(171, 167, 167, 0.826);">5h ago</h5></div>
                </div>
                <div class="notification__header">
                    <i class="bi bi-person-circle sidebar__topAvatar"></i>
                    <div class="notification__info">
                        <p>Those For tips can help you network in a virtual world, say an expert.</p>
                    </div>
                    <div style="color: rgba(132, 132, 132, 0.842); margin-left: 30%;" ><i class="bi bi-three-dots"></i><h5 style="color: rgba(171, 167, 167, 0.826);">5h ago</h5></div>
                </div>
                <div class="notification__header">
                    <i class="bi bi-person-circle sidebar__topAvatar"></i>
                    <div class="notification__info">
                        <p>Those For tips can help you network in a virtual world, say an expert.</p>
                    </div>
                    <div style="color: rgba(132, 132, 132, 0.842); margin-left: 30%;" ><i class="bi bi-three-dots"></i><h5 style="color: rgba(171, 167, 167, 0.826);">5h ago</h5></div>
                </div>
            </div>
        <!-- </div> -->
        
        <!-- Widgets Start -->
        <div class="widgets">
            <div style="display: flex;" class="widgets__header">
                <h2>Ishti's Top News</h2>
                <i style="margin-top: 25px; margin-left: 15px;" class="bi bi-info-circle"></i>
            </div>
            <div class="news">
                <div>
                    <img src="https://dt-cdn.net/wp-content/uploads/2021/07/13429_ILL_DevOpsLoop.png" alt="" width="220px" height="100px">
                </div>
                <h2>How Devops is growing?</h2>                
                <p>DevOps practices work smarter and faster, and deliver better quality to their customers.</p>                
                <h5  style="color: rgb(163, 163, 163);">2d ago</h5>                
            </div>
            <hr>
            <div class="news">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBTkglKBmnWaNBCJ6s1zq0btwY47Ogj5OV0YWWL2eU-RBBBNvPWCu5mFCxCXdIWZ9jQ2A&usqp=CAU" alt="" width="220px" height="100px">
                </div>
                <h2>What is Cloud Computing?</h2>
                <p>allows organizations to scale, maintain flexibility, and focus their efforts on business operations.</p>
                
                <h5 style="color: rgb(163, 163, 163);">5h ago</h5>
            </div>
            <hr>
            <div class="news">
                <div>
                    <img src="https://imageio.forbes.com/specials-images/imageserve/612919a086fad616bd00f4c6/Artificial-intelligence-and-future-concept/960x0.jpg?fit=bounds&format=jpg&width=960" alt="" width="220px" height="100px" >
                </div>
                <h2>Power of Artificial Intelligence?</h2>
                <p>Artificial Intelligence enhances the speed, precision and effectiveness of human efforts.</p>
                <h5 style="color: rgb(163, 163, 163);">20h ago</h5>
                
            </div>
            <hr>
            <div class="news">
                <div>
                    <img src="https://www.spec-india.com/wp-content/uploads/2020/11/What-is-full-stack-developer.png" alt="" width="220px" height="100px" >
                </div>
                <h2>Who is Full Stack Devlopment?</h2>
                
                <p>someone who works with the Back End — or server side — of the application as well as the Front End, or client side.</p>
            
                <h5 style="color: rgb(163, 163, 163);">5d ago</h5>
            
            </div>

        </div>
    </div>
    <!-- Widgets end -->
</body>
</html>