<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ishty services</title>
</head>
<body>
    {{>nav_before_login}}
    <h1>we will provide our services information soon...</h1>
</body>
</html>